<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>test_netAngels</title>
</head>
<body>

<div>
    <ul>
        <button><a href="/"> Home </a></button>
        <button><a href="/all/"> All links </a></button>
        <button><a href="/hash/"> Get by hash </a></button>

        <button><a href="/test_fill/"> Fill with test links </a></button>
    </ul>
</div>

{% block main %}
{% endblock %}

</body>
</html>